#content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.x {
    margin-bottom: 15px;
}

{/*Main Component*/}

{/*Card Decks*/}
.card-deck {
    margin: 5px 0 5px 0;
}

.vertical-divider {
    height: 100%;
    position: absolute;
    left: 50%;
    border-radius: 22px;
    border-left: 2px solid #766F57;
    border-right: 2px solid #766F57;
}

{/*Footer Component*/}

.bd-footer {
    text-align: center;
    background-color: #f7f7f7;
    margin-top: 20px;
}

.bd-footer-links {   
    padding-left: 0;
    margin-bottom: 1rem;    
}

.bd-footer li {
    padding: 10px;
    display: inline-block;
}

.bd-footer li a {
    color: #766F57; 
    font-size: 1.2em;
    text-decoration: none;
}

.bd-footer a:hover, a:focus {
    color: #B5934F;
}  

.bd-footer p {
    font-size: 85%;
    margin-bottom: 0;   
}

.bd-footer p a {
    color: #9C7D3F;
    text-decoration: none;   
}

{/*Not Found Component*/}

#notFound {
    font-family: Montserrat, sans-serif;
    position: relative;
    height: 100vh;
}

.notfound {
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 333px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-size: 230px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);
    background: url('./img/bg.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}


.notfound h2 { 
    color: #000;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
	color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound a {
  
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
        box-shadow: 0px 4px 15px -5px #0046d5;
}

@media only screen and (max-width: 575px) {
    .notfound .notfound-404 {
        height: 102px;
    }
    .notfound .notfound-404 h1 {
        font-size: 72px;
    }
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }
    .notfound .notfound-404 h1 {
        font-size: 112px;
    }   
}

@media only screen and (max-width: 991px) {

}   

@media only screen and (max-width: 1119px) {
    
}  

{/*.weather-card {
    position: relative;
    width: 33.33%;
    left:33.33%;
}*/} 